{% extends "index.html" %}
{% block title %}Panels {% endblock%}
{% block navbar %}
{{super()}}
{% endblock%}
{% block content %}

<section style="margin-top: 50px; margin-left: 145px;">
<!-- first section -->
<h2 style="font-size: 36px;line-height: 44px;color: rgb(15, 15, 15);text-decoration-line: none;text-transform: none;font-weight: 600;text-align: left;margin-left: 8px;">Built for every space</h2>
<div style="position: relative;">
<button onclick="scrollContentLeft('scroll-container-1')"  style="width: 50px;height: 50px;background-color: white;border-radius: 50%;
display: flex;align-items: center;justify-content: center;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);border: none;cursor: pointer;
font-size: 22px;font-weight: 600;color: black;position: absolute; left: -10px; top: 45%; transform: translateY(-50%);">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg);">
        <path d="M10 7L15 12L10 17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</button>
<button onclick="scrollContentRight('scroll-container-1')"  style="width: 50px;height: 50px;background-color: white;border-radius: 50%;display: flex;
align-items: center;justify-content: center;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);border: none;cursor: pointer;font-size: 22px;font-weight: 600;
color: black;position: absolute; right: 120px; top: 45%; transform: translateY(-50%);">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 7L15 12L10 17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
<div id="scroll-container-1" class="scroll-container" style="display: flex; flex-direction: row; height: 630px;width: 1250px; margin-top: 50px;column-gap: 25px;overflow-x: auto;scroll-behavior: smooth;-ms-overflow-style: none;scrollbar-width: none;white-space: nowrap;padding: 10px;">
    <div ><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_template/w_394,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1739273518035-1a18ef.jpeg" height="520px" width="390px"></div>
    <div ><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_template/w_394,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1739273400427-c1743f.jpeg" height="520px" width="390"></div>
    <div><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_template/w_394,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1739273496859-b41719.jpeg" height="520px" width="390"></div>
    <div><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_template/w_394,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1739273415670-ad859a.jpeg"  height="520px" width="390"></div>
</div>
</div>
<!-- first section ends -->


<!-- second section -->
<h2 style="font-size: 36px;line-height: 44px;color: rgb(15, 15, 15);text-decoration-line: none;text-transform: none;font-weight: 600;text-align: left;margin-left: 8px;">Beautiful walls, any occasion</h2>
<div style="position: relative;">
    <button onclick="scrollContentLeft('scroll-container-2')"  style="width: 50px;height: 50px;background-color: white;
    border-radius: 50%;display: flex;align-items: center;justify-content: center;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);border: none;
    cursor: pointer;font-size: 22px;font-weight: 600;color: black;position: absolute; left: -10px; top: 45%; transform: translateY(-50%);">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg);">
        <path d="M10 7L15 12L10 17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</button>
<button onclick="scrollContentRight('scroll-container-2')"  style="width: 50px;height: 50px;background-color: white;border-radius: 50%;
    display: flex;align-items: center;justify-content: center;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);border: none;
    cursor: pointer;font-size: 22px;font-weight: 600;color: black;position: absolute; right: 120px; top: 45%; transform: translateY(-50%);">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 7L15 12L10 17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
<div id="scroll-container-2" class="scroll-container" style="display: flex; flex-direction: row; height: 600px;width: 1250px; margin-top: 50px;column-gap: 25px;overflow-x: auto;scroll-behavior: smooth;-ms-overflow-style: none;scrollbar-width: none;white-space: nowrap;padding: 10px;">
    <div ><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_template/w_394,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1739273514500-d737aa.jpeg" height="520px" width="390px"></div>
    <div ><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_template/w_394,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1739273505094-907913.jpeg" height="520px" width="390"></div>
    <div><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_template/w_394,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1739273493553-75792f.jpeg" height="520px" width="390"></div>
    <div><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_template/w_394,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1739273415670-ad859a.jpeg"  height="520px" width="390"></div>
</div>
</div>
<!-- second section ends -->


<!-- third section -->
<h2 style="font-size: 36px;line-height: 44px;color: rgb(15, 15, 15);text-decoration-line: none;text-transform: none;font-weight: 600;text-align: left;margin-left: 8px;">For every decor style</h2>
<div style="position: relative;">
    <button onclick="scrollContentLeft('scroll-container-3')"  style="width: 50px;height: 50px;background-color: white;border-radius: 50%;display: flex;
    align-items: center;justify-content: center;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);border: none;cursor: pointer;
    font-size: 22px;font-weight: 600;color: black;position: absolute; left: -10px; top: 45%; transform: translateY(-50%);">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg);">
            <path d="M10 7L15 12L10 17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
</button>
<button onclick="scrollContentRight('scroll-container-3')"  style="width: 50px;height: 50px;background-color: white;border-radius: 50%;
    display: flex;align-items: center;justify-content: center;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);border: none;
    cursor: pointer;font-size: 22px;font-weight: 600;color: black;position: absolute; right: 120px; top: 45%; transform: translateY(-50%);">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 7L15 12L10 17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
<div id="scroll-container-3" class="scroll-container-3" style=" display: flex; flex-direction: row; height: 600px;width: 1250px; margin-top: 50px;column-gap: 25px;overflow-x: auto;scroll-behavior: smooth;-ms-overflow-style: none;scrollbar-width: none;white-space: nowrap;padding: 10px;">
    <div ><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_template/w_394,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1739273511309-ba7840.jpeg" height="520px" width="390px"></div>
    <div ><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_template/w_394,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1739273502111-b81a69.jpeg" height="520px" width="390"></div>
    <div><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_template/w_394,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1739273490349-affaf7.jpeg" height="520px" width="390"></div>
    <div><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_template/w_394,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1739273415670-ad859a.jpeg"  height="520px" width="390"></div>
</div>
</div>
<!-- third ends -->


<!-- script for button functioning -->
<script>
    function scrollContentLeft(containerId) {
        let container = document.getElementById(containerId);
        if (container) {
            container.scrollBy({ left: -400, behavior: 'smooth' });
        } else {
            console.error("Container not found:", containerId);
        }
    }
    function scrollContentRight(containerId) {
        let container = document.getElementById(containerId);
        if (container) {
            container.scrollBy({ left: 400, behavior: 'smooth' });
        } else {
            console.error("Container not found:", containerId);
        }
    }
    </script>
<!-- script ends -->

</section>
{% endblock %}


{% block footer %}
{{super()}}
{% endblock%}