{% extends "index.html" %}
{% block title %}Register page{% endblock%}
{% block navbar %}
{{super()}}
{% endblock%}
{% block content%}
<form action="/register" method="POST">
    <div class="box">
        <h3><img src="https://res.cloudinary.com/urbanclap/image/upload/t_high_res_category/w_108,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/home-screen/1687285683825-e6cf23.jpeg" alt="ub" height="30px"> </h3>
        <h3 align="left">Enter your username.</h3>
        <div class="phone-input">
            <input type="text" placeholder="username" name="username" required>
        </div>
        <h3 align="left">Enter your password.</h3>
        <div class="phone-input">
            <input type="text" placeholder="password" name="password" required>
        </div>
        <h3 align="left">Confirm your password</h3>
        <div class="phone-input">
            <input type="text" placeholder="renter your password" required>
        </div>
        <button class="login">Continue</button>
        <a href="/login">Login</a>
        <p class="footer">By continuing, you agree to our <a href="#">T&C</a> and <a href="#">Privacy</a> policy.</p>
    </div>
{% endblock %}
{% block styles %}
<style>
    body {
        background-color: rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }
    .box {
        margin-left: 490px;
        background: white;
        width: 400px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        position: relative;
    }
    .box h3 {
        margin: 10px 0;
        font-size: 22px;
    }
    .box p {
        color: gray;
        font-size: 14px;
    }
    .phone-input {
        display: flex;
        margin-top: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }
    .phone-input input {
        border: none;
        padding: 10px;
        font-size: 16px;
        outline: none;
    }
    .login {
        width: 100%;
        padding: 10px;
        margin-top: 15px;
        border: none;
        background:black;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        
    }
</style>
{% endblock %}